<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="wanderwiki.android"
	android:versionName="1.0.3" android:versionCode="4" android:installLocation="auto">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<application android:label="@string/app_name" android:description="@string/app_description" android:icon="@drawable/logo" android:theme="@style/DefaultTheme">
        <receiver
            android:name="ab.wanderwiki.connectionstatus.ConnectionChangeReceiver"
            android:label="ConnectionChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        
		<uses-library android:name="com.google.android.maps" />
		<activity android:name="ab.android.wanderwiki.activity.Home" android:label="WanderWiki" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="ab.android.wanderwiki.activity.UploadTrack" android:label="UploadTrack"/>
		<activity android:name="ab.android.wanderwiki.activity.DisplayTrackDetail" android:label="DisplayTrackDetail"/>
		<activity android:name="ab.android.wanderwiki.activity.SearchTrack" android:label="SearchTrack"/>
		<activity android:name="ab.android.wanderwiki.activity.AdvancedResearchTrack" android:label="AdvancedResearchTrack"/>
		<activity android:name="ab.android.wanderwiki.activity.DownloadTrack" android:label="DownloadTrack"/>
		<activity android:name="ab.android.wanderwiki.activity.DisplayArticle" android:label="DisplayArticle"/>
		<activity android:name="ab.android.wanderwiki.activity.SearchTrackResults" android:label="SearchTrackResults"/>
		<activity android:name="me.guillaumin.android.osmtracker.activity.TrackManager" android:label="@string/app_name"/>
		<activity android:name="me.guillaumin.android.osmtracker.activity.TrackLogger" android:label="@string/tracklogger" android:launchMode="singleTop"/>
		<activity android:name="me.guillaumin.android.osmtracker.activity.Preferences" android:label="@string/prefs" />
		<activity android:name="me.guillaumin.android.osmtracker.activity.WaypointList" android:label="@string/wplist" />
		<activity android:name="me.guillaumin.android.osmtracker.activity.TrackDetail" android:label="@string/trackdetail" />
		<activity android:name="me.guillaumin.android.osmtracker.activity.OpenStreetMapUpload" android:label="@string/osm_upload">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:host="osm-upload" android:scheme="osmtracker"/>
			</intent-filter>
		</activity>
		<activity android:name="me.guillaumin.android.osmtracker.activity.About" android:label="@string/about" />
		<activity android:name="me.guillaumin.android.osmtracker.activity.DisplayTrack" android:label="@string/displaytrack" />
		<activity android:name="me.guillaumin.android.osmtracker.activity.DisplayTrackMap" android:label="@string/displaytrackmap" />

		<service android:name="me.guillaumin.android.osmtracker.service.gps.GPSLogger" android:exported="false">
			<intent-filter>
				<action android:name="me.guillaumin.android.osmtracker.intent.GPS_SERVICE" />
			</intent-filter>
		</service>

		<provider android:name="me.guillaumin.android.osmtracker.db.TrackContentProvider"
		    android:authorities="com.android.wanderwiki.provider"
		    android:exported="false" />

	</application>

	
</manifest> 
